<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" style="text-align:center">FAQ
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How does it work?</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              Radventure allows travellers to choose their guides based on where they are visiting. Guide profiles help travellers find the right fit. Once a selection is made the guide and visitor agree on dates, times, and the adventure. The trip is booked, paid for, then the Radventure happens.
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What does it cost?</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Radventure pricing is set by the guide and agreed upon by both the client and the guide before the trip is booked and payment happens. Rates are typicaly hourly and can range depending on the season or day of week. Radventure takes a small percentage of the transaction.                             </div>
            </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I pay for a guide?</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              All payment is handled through our secure and encrypted servers. Once payment has taken place, Radventure holds the payment for 48 before distribution to ensure the Radventure happens.
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who is Radventure right for?</a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              Radventure is geared toward to strong intermediate to expert skiers and riders who are looking for help navigating in-bounds ski areas. Radventure guides will take clients to spots that they may not have known how to access on their own, with a goal of helping clients make the most of their time on the mountain. Radventure guides are NOT ski instructors, and will not be providing instruction or skiing primarily on main thoroughfares easily navigable by using a trail map.
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Who is Radventure?</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              Radventure is the brainchild of our founders. Read more about them here.<a href="about.html"> About Us</a>
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Who are the guides?</a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              Guides are local mountain navigation experts from the ski/snowboard community who are eager to help you maximize fun and your time on the mountain.  The Radventure guides are members of the community and by using the peer review section, you can get a sense of the types of guides they may be for your future Radvenuture.
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How do I know I can trust the guides?</a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              Safety is our number one priority. All our guides are thoroughly vetted through an online verification process. Our system is set up to provide tools for both guides and guests to thoroughly communicate and we reward our best guides through reviews and term of service. Be sure you read the guides profile and all reviews. Look for guides with a strong reputation and reviews. Lastly, pay and communicate on Radventure. Paying or communicating within the Radventure system enables us to have documented communication to ensure we can protect your information and resolve any issues if they arise.  Our refund policy supports guests adhering to our terms and conditions.
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Will Radventure Guides teach me how to ski/snowboard?</a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              No. Radventure Guides are focused on getting you to the areas of the mountain that you will feel most comfortable and help you maximize your time, not teach you how to ski/snowboard.  Mountain resorts have extensive ski-school programs that can be utilized for this type of learning.  Once you are at the strong intermediate level or above, come back and we will help you learn how to navigate the mountain to maximum your fun!
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How do reviews work?</a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
              All the reviews on Radventure are written by clients and guides from our community, After going on an adventure, clients are strongly encouraged to review their guide. In addition to written reviews, clients can submit a rating for their guide. The number of “rad signs” displayed for a particular guide is an aggregate of all the scores that different clients have given for that guide.

              Our community relies on honest, regular reviews. We will remove or revise review that violate our review guidelines (forthcoming).
            </div>
          </div>
        </div>
        <!-- /.panel -->
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What if I can't get in touch with the guide?</a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              If you don’t have a Radventure booked: Most guides respond to requests for more information or booking requests within 24 hours. If a selected guide hasn’t replied within this timeframe, feel free to reach out to other guides in the area.

              If you have a Radventure booked, try using different messaging systems including phone or text which will be provided upon booking. Ensure you have a clear meeting location for the day of your Radventure. If for some reason the guide does not uphold their end of the booking, Radventure will provide a full refund upon completion of a statement of non-compliance. Our refund policy supports guests if the scheduled Radventure does not occur.
            </div>
          </div>
        </div>
      </div>
      <!-- /.panel-group -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Tracking -->
<script src="//cdn.optimizely.com/js/2718120061.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
