<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Locations
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="mthood.html">
        <%= image_tag 'mthood.jpg', class: "img-responsive img-hover", size: "padding-top:25px" %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Mt Hood</h3>
      <h4>Portland, Oregon</h4>
      <p>Mt. Hood Meadows offers some of the most spectacular skiing and snowboarding in the Northwest! The resort is close to Portland - just 90 minutes away - but delivers a big mountain experience you'd expect to travel much farther to enjoy. Mt. Hood Meadows Ski Resort operates on a special use permit on the Mt. Hood National Forest, and the resort sprawls across Mt. Hood's southeast flank, the sunny, wind-protected side of Mt. Hood. Meadows' playful terrain welcomes and challenges all levels of skiers and snowboarders. We have a huge mountain with terrain for everyone, magnificent views and snowfall beyond belief. Our entire staff is committed to providing you with a truly memorable and unique experience that is Mt. Hood Meadows.</p>
      <a class="btn btn-primary" href="mthood.html">View Location</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="mtbachelor.html">
        <%= image_tag 'mtbachelor.jpg', class: "img-responsive img-hover", size: "padding-top:25px" %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Mt Bachelor</h3>
      <h4>Bend, Oregon</h4>
      <p>The recent snowfalls have really turned things around for Mt. Bachelor. That string of warm, wet weather had everyone shaking in their ski boots wondering how long winter would stick around for us, but luckily we are back in the snow and conditions are now great! With a total of 19-24" across the mountain since Friday, the trails healed very nicely and the snow surface has improved drastically. Maintenance and Patrol spent all day Tuesday getting Summit ready to go for Wednesday so as long as the weather does what it is supposed to, it should be a beautiful Summit day! Reports from patrollers are that the surface up there is a little wind scoured but there are some pockets of great snow so come up and be the first to hunt out those stashes. We look forward to seeing everyone up here!</p>
      <a class="btn btn-primary" href="mtbachelor.html">View Location</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <a href="mtwhistler.html">
        <%= image_tag 'mtwhistler.jpg', class: "img-responsive img-hover", size: "padding-top:25px" %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Mt Whistler</h3>
      <h4>Vancouver, Canada</h4>
      <p>Every year, thousands of skiers and boarders journey to the Westcoast for an unrivalled ski vacation in Whistler Blackcomb. They’re drawn by over 8100 skiable acres, a bustling pedestrian base village packed with shopping and dining choices, and a fantastic array of winter adventures.
        Last season was one of our best ever, with record-breaking snow. Take advantage of these great deals and help us make the 2014-15 season even better.</p>
      <a class="btn btn-primary" href="mtwhistler.html">View Location</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../javascripts/jquery.js"></script>
<!-- Tracking -->
<script src="//cdn.optimizely.com/js/2718120061.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/bootstrap.js"></script>
