<% if @reservation.errors.any? %>
<div id="error_explanation">
  The form contains <%= pluralize(@reservation.errors.count, "error") %>.
  <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
