<% if @review.errors.any? %>
    <div id="error_explanation">
      The form contains <%= pluralize(@review.errors.count, "error") %>.
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
