<h3>Dear <b><%= @msg.name %></b>,</h3>

<% case %>
<% when @msg.subject.match("Question") && !@msg.recipient_name.match("user") %>
  <p><b>Here is a copy of the message:</b></p>
<% else %>
  <p>We have received your message. Thank you for reaching out to us. Our team will respond to you as soon as possible. </p><br>
<% end %>

<p><b>Message Receipt:</b></p>
<% time = Time.now %>

<p><b>Sent:</b> <%= time.strftime("%A, %B %d, %Y @ %H:%M:%S")%></p>
<p><b>Subject:</b> <%= @msg.subject %></p>
<p><b>Message:</b> <%= @msg.content %></p>

<p>---------- <br>
Thank you, <br>
Radventure Team <br></p>
