<footer class="navbar container"  style="width:100% ; background:#d3d3d3 ; max-width:inherit">
  <div class="row text-center center-block">
    <div class="col-md-4">
      <h4>User Information</h4>
      <ul class="list-unstyled" style="color:#777777">
        <li><%= link_to "Get Started", signup_path %></li>
        <li><a href="">Services</a></li>
        <li><a href="">Guides</a></li>
        <li><%= link_to "All Locations", locations_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Guide Information</h4>
      <ul class="list-unstyled" style="color:#777777">
        <li><a href="">Become Guide</a></li>
        <li><a href="">Payment Process</a></li>
        <li><a href="">How It Works</a></li>
        <li><a href="">Legal</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Corporate</h4>
      <ul class="list-unstyled" style="color:#777777">
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><a href="">Legal</a></li>
        <li><a href="">Mission</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Expansion</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <p>
      <br><br>
      Copyright &copy; Radventure 2015
    </p>
  </div>
</footer>