<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RADVENTURE</a>
    </div>

    <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="about.html">About</a>
        </li>
        <!--  <li>
        <a href="">Services</a>
      </li> -->
        <li>
          <a href="contact.html">Contact</a>
        </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="">Mt. Hood</a>
          </li>
          <li>
            <a href="">Mt. Bachelor</a>
          </li>
          <li>
            <a href="">Mt. Whistler</a>
          </li>
          <li>
            <a href="">Tap</a>
          </li>
          <li>
            <a href="">Dat</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="search.html">Quick Search</a>
      </li>
      <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
        role="button" aria-expanded="false">Account
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li><%= link_to "More Settings #YOLO", "#" %></li>
        <li class="divider"></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
    </li>
    <% else %>
      <li>
        <button type="button" class="btn btn-md navbar-btn" data-toggle="modal" data-target="#signIn" style="margin-left:15px">
          Login
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-md navbar-btn" data-toggle="modal" data-target="#signUp" style="margin-left:15px">
          Sign Up
        </button>
    <% end %>
      </li>
      <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:99999999999">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="signInModal">Login</h4>
            </div>
            <div class="modal-body">

            <%= form_for(:session, url: login_path) do |formElement| %>

            <form>
              <!--%= render 'shared/error_messages' %-->

              <div>
                <%= formElement.label :Username %>
                <%= "/" %>
                <%= formElement.label :email%>
                <%= formElement.email_field :email,  class: 'form-control', id: 'Username', placeholder: 'radventureit@gmail.com' %>
              </div>

              <div>
                <%= formElement.label :password%>
                <%= formElement.password_field :password, class: 'form-control', id: 'Password', placeholder: 'Password' %>
              </div>
              <br></br>
              <div class='form-group'>
                <button class="btn btn-danger"> Reset </button>
                <%= formElement.submit "Submit", class: 'btn btn-success' %>
              </div>

            </form>
            <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:99999999999">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="signUpModal">Sign Up</h4>
            </div>
            <div class="modal-body">
              <form>
                <div>
                  <a class="btn btn-default" href="registration-user.html" >As a User</a>&nbsp &nbsp If you would like to start finding guides.
                </div>
                <br>
                <div>
                  <a class="btn btn-default" href="registration-guide.html">As a Guide</a>&nbsp &nbsp If you want to start guiding people.
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- </li> -->
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
